<mat-card
                    [@visibilityState]="visibilityState"
                    (mouseenter)="toggle()"
                    (mouseleave)="toggle()">
<!--    style="margin:0 0 466px 0"-->
  <h2>What technologies, frameworks, and APIs do I have experience using?</h2>

  <mat-card-content style="opacity: 0; display: none;"
                    [@childVisibilityState]="visibilityState">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let category of toolset">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{category.category}}
          </mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <mat-panel-description>
          <mat-list dense>
            <mat-list-item *ngFor="let item of category.items">
              {{item.name}}
            </mat-list-item>
          </mat-list>
        </mat-panel-description>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
