ps -p $$ | awk '{print "  Shell: " $4}' | tail -1

export PROJECT_NAME=edwincruz-com
export PROJECT_CONFIG=$HOME/Development/Configurations/edwincruz-com.json
echo '  ProjectConfig: '$PROJECT_CONFIG
echo '  Project: '$PROJECT_NAME

. ~/Development/Profiles/edwincruz-com-user@edwincruz.com

aws iam get-user | jq -r '.User' | tr -d  '",' | head -n 6 | tail -n 5

aws sts get-caller-identity | jq -r '.' | tr -d '",'  | head -n 3 | tail -n 1

aws configure list | awk '{print "  Region: " $2}' | tail -1

alias cdk1="npx aws-cdk@1.x"
alias cdk="npx aws-cdk@2.x"
