mat-card {
  display: block;
  max-width: 260px;
  margin: 0;
  padding: 0;
}
@media (max-width:420px){
  mat-card {
    display: block;
    max-width: 180px;
    margin: 0;
    padding: 0;
  }
}
@media(min-width:600px)and (max-width:700px){
  mat-card {
    display: block;
    max-width: 190px;
    margin: 0;
    padding: 0;
  }
}

a{
  text-decoration: none;
}
