<mat-card>
<mat-list>
  <mat-list-item>
    <img mat-list-icon src="/assets/bmcbrand/SVG Files/bmc-logo.svg" />
    <a mat-line href="https://www.buymeacoffee.com/edwincruz" target="_buy">Buy Me a Coffee</a>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>event</mat-icon>
    <a  mat-line href="https://calendly.com/edwincruz/15min" target="_schedule">Schedule Time with Me</a>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon >sms</mat-icon>
    <a mat-line href="sms:+19176267137" target="_sms">Send Me an SMS</a>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon >mail</mat-icon>
    <a mat-line href="mailto:ecruz165@yahoo.com" target="_mail">Send Me an E-mail</a>
  </mat-list-item>
</mat-list>
</mat-card>
