<mat-card class="example-card">
  <h2>Recommendations</h2>
  <h3>INDUSTRY EXPORTS</h3>
  <p>Accelerate your learning by following these experts and using their published content and courses.</p>

  <mat-card-title-group *ngFor="let expert of industryExperts">
    <mat-card-title><a href="{{expert.website}}" target="{{expert.target}}"><h3>{{expert.name}}</h3></a>
    </mat-card-title>

    <mat-card-subtitle>
      <mat-chip-list>
        <mat-chip *ngFor="let skill of expert.expertise">
          {{skill}}
        </mat-chip>
      </mat-chip-list>
    </mat-card-subtitle>
    <img mat-card-sm-image src="{{expert.picUrl}}"/>
  </mat-card-title-group>

  <h3>OTHER ON-DEMAND LEARNING</h3>
  <ul>
    <li><a href="https://acloudguru.com/" target="_resources">A Cloud Guru</a> - Digital Cloud Certification Training
    </li>
    <li><a href="https://frontendmasters.com/" target="_resources">Frontend Masters</a> - Learn Javascript, React, Vue
      &amp; Angular
    </li>
    <li><a href="https://www.linkedin.com/learning" target="_resources">LinkedIn Learning</a> - Online Training Courses
    </li>
    <li><a href="https://serverlessland.com/" target="_resources">Serverless Land</a> - Technology Training Platform
    </li>
    <li><a href="https://udemy.com/" target="_resources">Udemy</a> - Online Courses</li>
  </ul>

  <h3>OTHER RESOURCES</h3>
  <ul>
    <li><a href="https://indepth.dev/" target="_resources">InDepth.dev</a> - Community of passionate web developers</li>
    <li><a href="https://mkyong.com/" target="_resources">Mykong.com</a> - Spring and Java snippets</li>
    <li><a href="https://refactoring.guru/" target="_resources">Refactoring.guru</a> - Interactive Refactoring Course
    </li>
    <li><a href="https://serverlessland.com/" target="_resources">Serverlessland.com</a> - AWS Serverless Portal</li>

  </ul>

  <h3>CLOUD APPS</h3>
  <ul>
    <li><a href="https://www.airtable.com/">Airtable</a> - Cloud Datasource/Spreadsheet</li>
    <li><a href="https://balsamiq.com/">Balsamiq Wireframes</a> - UI/UX design tool</li>
    <li><a href="https://bitly.us/">Bitly</a> - Bitly Link Management</li>
    <li><a href="https://calendly.com/">Calendly</a> - Scheduling meetings</li>
    <li><a href="https://app.cloudcraft.co/">Cloud Craft</a> - Cloud Diagramming</li>
    <li><a href="https://www.dropbox.com/">Dropbox</a> - Cloud Storage</li>
    <li><a href="https://github.com/">GitHub</a> - Source Control</li>
    <li><a href="https://www.jackdb.com/">JackDB Client</a> - Database Web Client</li>
    <li><a href="https://www.atlassian.com/software/jira">Jira</a> - Agile Sprint Management</li>
    <li><a href="https://www.jotform.com/">Jotform</a> - Form Builder</li>
    <li><a href="https://lucid.co/">Lucid Charts</a> - Diagramming</li>
    <li><a href="https://www.qr-code-generator.com/">QR Code Generator</a> - QR Code Generator</li>
    <li><a href="https://mailchimp.com/">Mailchimp</a> - Email Marketing</li>
    <li><a href="https://zoom.us/">Zoom</a> - Video Conferencing</li>
  </ul>
</mat-card>
