mat-toolbar{
  min-width: 380px;
  width:75%;
  border-radius: 24px;
  justify-content:space-around;
  margin: 32px 0;
}
.mat-toolbar-row, .mat-toolbar-single-row {
 height:unset;
  padding: 8px 0;
}

.bottomMargin {
  margin-bottom: 32px;
}
@media(max-width: 600px - 1){
  .bottomMargin {
    margin-bottom: 0;
  }
}

