<mat-card class="profile-card">
  <div class="round">
  <img image src="/assets/pic-profile.jpg" alt="Edwin Cruz Profile Pic">
  </div>


  <mat-card-actions align="end">
    <mat-toolbar>
      <span>My Resume</span>
      <a mat-icon-button  href="https://github.com/ecruz165" target="_github">
        <fa-icon [icon]="['fas', 'eye']" style="font-size:large"></fa-icon>
      </a>
      <a mat-icon-button  href="https://github.com/ecruz165" target="_github">
        <fa-icon [icon]="['fas', 'download']" style="font-size:large"></fa-icon>
      </a>
    </mat-toolbar>

  </mat-card-actions>
</mat-card>
