<section fxLayout="column" fxLayoutAlign="start center" class="bottomMargin">
  <h1 class="mat-display-1" style="margin:8px;">Blog</h1>
  <p class="bottomMargin">Thoughts of a SaSS Product Software Engineer.</p>

  <section *ngFor="let blog of list" style="justify-content:center;">

    <mat-card fxLayout.xs="column" fxLayout="row" fxLayoutGap="32px" fxLayoutGap.gt-sm="16px"
              fxFlex.lt-md="100" fxFlex.md="80" fxFlex.lg="65" fxFlex.xl="50">

      <mat-card-content fxFlex="100">
        <div
          [style]="'background-image: url('+ blog.leadImage +') ; height:300px;width:100%; background-size: cover; background-position: center;'">
          <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/></div>
      </mat-card-content>

      <mat-card-header fxFlex="100">
        <mat-card-title class="bottomMargin"><a style="text-decoration: none"  [routerLink]="'/blog/2022-0223/' + blog.key">{{blog.title}}</a>
        </mat-card-title>
        <mat-card-subtitle>{{blog.description}}
        </mat-card-subtitle>
      </mat-card-header>

    </mat-card>

  </section>
</section>
