<h1>Slides</h1>
<div class="reveal">
  <div class="slides">
    <section data-markdown>
  <textarea data-template>
    ```js [1-2|3]
    let a = 1;
    let b = 2;
    let c = x => 1 + 2 + x;
    let d = x => 1 + 2 + x;
    c(3);
    ```
  </textarea>

    </section>
    <section data-markdown="docs/recommended-hardware-specifications-for-java-and-typescript-development.md"
             data-separator="^\n\n\n"
             data-separator-vertical="^\n\n"
             data-separator-notes="^Note:"
             data-charset="iso-8859-15">
      <!--
          Note that Windows uses `\r\n` instead of `\n` as its linefeed character.
          For a regex that supports all operating systems, use `\r?\n` instead of `\n`.
      -->
    </section>
<section data-markdown>
  <textarea data-template>
    ## Slide 1
    A paragraph with some text and a [link](http://hakim.se).
    ---
    ## Slide 2
    ---
    ## Slide 3
  </textarea>
</section>
  </div>
</div>
