<mat-card>
  <h2>Latest Blog Posts</h2>
</mat-card>

<mat-card fxLayout.xs="column" fxLayoutAlign.xs="none start"  fxLayout="row" fxLayoutAlign.xs="space" fxLayoutAlign="space-between start" fxLayoutGap="32px" fxLayoutGap.gt-sm="16px"
          *ngFor="let post of postList" >

  <mat-card-content fxFlex="40"  fxFlex.xs="100" >
    <div style="background-image: url('/assets/stock/stock-001-480.jpg') ; height:320px;width:100%; background-size: cover; background-position: center;"><br/>    <br/>    <br/>    <br/>    <br/>    <br/>    <br/>    <br/>    <br/>    <br/></div>
  </mat-card-content>

  <mat-card-header fxFlex="60" fxFlex.xs="100" >
      <mat-card-title class="bottomMargin"><a style="text-decoration: none" [href]="'/blog/2022-mar13/' + post.key">{{post.title}}</a></mat-card-title>
      <mat-card-subtitle>{{post.description}}
      </mat-card-subtitle>
  </mat-card-header>

</mat-card>
