<mat-card>
  <h2>Latest Posts...</h2>
  <form>
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Search</mat-label>
      <input type="text" matInput>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>
</mat-card>

<mat-card fxLayout="row">

  <mat-card-content fxFlex="40" style="background-image: url('/assets/stock/stock-001-480.jpg') ; height:320px; background-size: cover; background-position: center;">
  </mat-card-content>

  <mat-card-header fxFlex="60" >
    <mat-card-title-group >
      <mat-card-title>Recommended hardware specifications for Java and Typescript Development</mat-card-title>
      <mat-card-subtitle>In 2022, you do not need what is considered currently a high-end computer to do software
        development. However, if you work on complex projects that require spinning up several components on your local
        development environment you will benefit from having a mid-level laptop or better.
      </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>

</mat-card>
