@use '@angular/material' as mat;
@use './typography' as typography;
@use './palette' as palette;
@use './common.scss' as common;
@use 'sass:map';

$light-theme-background-palette: palette.$light-theme-background-palette;
$light-theme-foreground-palette: palette.$light-theme-foreground-palette;

$edwincruz-primary: mat.define-palette(mat.$blue-palette, 700, 400, 900);
$edwincruz-accent: mat.define-palette(mat.$yellow-palette, A200, A100);
$edwincruz-success: mat.define-palette(mat.$green-palette, 700, 500, 900);
$edwincruz-info: mat.define-palette(mat.$blue-palette, A400, A300, A200);

$edwincruz-color-scheme: (
  success: $edwincruz-success,
  info: $edwincruz-info,
  background: (
    status-bar: map.get($light-theme-background-palette, status-bar),
    app-bar:map.get($light-theme-background-palette, app-bar),
    background: map.get($light-theme-background-palette, background),
    hover: map.get($light-theme-background-palette, hover),
    card: map.get($light-theme-background-palette, card),
    dialog: map.get($light-theme-background-palette, dialog),
    disabled-button: map.get($light-theme-background-palette, disabled-button),
    raised-button: map.get($light-theme-background-palette, raised-button),
    focused-button: map.get($light-theme-background-palette, focused-button),
    selected-button: map.get($light-theme-background-palette, selected-button),
    selected-disabled-button: map.get($light-theme-background-palette, selected-disabled-button),
    disabled-button-toggle: map.get($light-theme-background-palette, disabled-button-toggle),
    unselected-chip: map.get($light-theme-background-palette, unselected-chip),
    disabled-list-option: map.get($light-theme-background-palette, disabled-list-option),
    tooltip: map.get($light-theme-background-palette, tooltip),
  ),
  foreground: (
    base: map.get($light-theme-foreground-palette, base),
    divider: map.get($light-theme-foreground-palette, divider),
    dividers: map.get($light-theme-foreground-palette, dividers),
    disabled: map.get($light-theme-foreground-palette, disabled),
    disabled-button: map.get($light-theme-foreground-palette, disabled-button),
    disabled-text: map.get($light-theme-foreground-palette, disabled-text),
    elevation: map.get($light-theme-foreground-palette, elevation),
    hint-text: map.get($light-theme-foreground-palette, hint-text),
    secondary-text: map.get($light-theme-foreground-palette, secondary-text),
    icon: map.get($light-theme-foreground-palette, icon),
    icons: map.get($light-theme-foreground-palette, icons),
    text: map.get($light-theme-foreground-palette, text),
    slider-min: map.get($light-theme-foreground-palette, slider-min),
    slider-off: map.get($light-theme-foreground-palette, slider-off),
    slider-off-active: map.get($light-theme-foreground-palette, slider-off-active),
  ),
);

$edwincruz-light-theme: mat.define-light-theme(
    (
      color: (
        primary: $edwincruz-primary,
        accent: $edwincruz-accent,
      ),
      typography: typography.$edwincruz-typography,
      density: default,
    )
);

$edwincruz-light-theme-color-set: common.apply-extra-colors($edwincruz-light-theme, $edwincruz-color-scheme);
@include common.create-theme($edwincruz-light-theme-color-set);

h1, h2, h3, h4, h5, h6, p, a, li {
  color: mat.get-color-from-palette($light-theme-foreground-palette, secondary-text);
}
