@use '@angular/material' as mat;
@use './typography' as typography;
@use './common.scss' as common;
@use 'sass:map';

$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);

// Background palette for light themes.
$light-theme-background-palette: (
  status-bar: map.get(mat.$grey-palette, 300),
  app-bar:    map.get(mat.$grey-palette, 100),
  background: map.get(mat.$grey-palette, 50),
  hover:      rgba(black, 0.04), // TODO(kara): check style with Material Design UX
  card:       white,
  dialog:     white,
  disabled-button: rgba(black, 0.12),
  raised-button: white,
  focused-button: $dark-focused,
  selected-button: map.get(mat.$grey-palette, 300),
  selected-disabled-button: map.get(mat.$grey-palette, 400),
  disabled-button-toggle: map.get(mat.$grey-palette, 200),
  unselected-chip: map.get(mat.$grey-palette, 300),
  disabled-list-option: map.get(mat.$grey-palette, 200),
  tooltip: map.get(mat.$grey-palette, 700),
);

// Foreground palette for light themes.
$light-theme-foreground-palette: (
  base:              black,
  divider:           $dark-dividers,
  dividers:          $dark-dividers,
  disabled:          $dark-disabled-text,
  disabled-button:   rgba(black, 0.26),
  disabled-text:     $dark-disabled-text,
  elevation:         black,
  hint-text:         $dark-disabled-text,
  secondary-text:    $dark-secondary-text,
  icon:              rgba(black, 0.54),
  icons:             rgba(black, 0.54),
  text:              rgba(black, 0.87),
  slider-min:        rgba(black, 0.87),
  slider-off:        rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
);

$edwincruz-primary: mat.define-palette(mat.$blue-palette, 700, 400, 900);
$edwincruz-accent: mat.define-palette(mat.$yellow-palette, A200, A100);
$edwincruz-success: mat.define-palette(mat.$green-palette, 700, 500, 900);
$edwincruz-info: mat.define-palette(mat.$blue-palette, A400, A300, A200);

$edwincruz-color-scheme: (
  success: $edwincruz-success,
  info: $edwincruz-info,
  background: (
    status-bar: map.get($light-theme-background-palette, status-bar),
    app-bar:map.get($light-theme-background-palette, app-bar),
    background: map.get($light-theme-background-palette, background),
    hover: map.get($light-theme-background-palette, hover),
    card: map.get($light-theme-background-palette, card),
    dialog: map.get($light-theme-background-palette, dialog),
    disabled-button: map.get($light-theme-background-palette, disabled-button),
    raised-button: map.get($light-theme-background-palette, raised-button),
    focused-button: map.get($light-theme-background-palette, focused-button),
    selected-button: map.get($light-theme-background-palette, selected-button),
    selected-disabled-button: map.get($light-theme-background-palette, selected-disabled-button),
    disabled-button-toggle: map.get($light-theme-background-palette, disabled-button-toggle),
    unselected-chip: map.get($light-theme-background-palette, unselected-chip),
    disabled-list-option: map.get($light-theme-background-palette, disabled-list-option),
    tooltip: map.get($light-theme-background-palette, tooltip),
  ),
  foreground: (
    base: map.get($light-theme-foreground-palette, base),
    divider: map.get($light-theme-foreground-palette, divider),
    dividers: map.get($light-theme-foreground-palette, dividers),
    disabled: map.get($light-theme-foreground-palette, disabled),
    disabled-button: map.get($light-theme-foreground-palette, disabled-button),
    disabled-text: map.get($light-theme-foreground-palette, disabled-text),
    elevation: map.get($light-theme-foreground-palette, elevation),
    hint-text: map.get($light-theme-foreground-palette, hint-text),
    secondary-text: map.get($light-theme-foreground-palette, secondary-text),
    icon: map.get($light-theme-foreground-palette, icon),
    icons: map.get($light-theme-foreground-palette, icons),
    text: map.get($light-theme-foreground-palette, text),
    slider-min: map.get($light-theme-foreground-palette, slider-min),
    slider-off: map.get($light-theme-foreground-palette, slider-off),
    slider-off-active: map.get($light-theme-foreground-palette, slider-off-active),
  ),
);

$edwincruz-light-theme: mat.define-light-theme(
    (
      color: (
        primary: $edwincruz-primary,
        accent: $edwincruz-accent,
      ),
      typography: typography.$edwincruz-typography,
      density: default,
    )
);

$edwincruz-light-theme-color-set: common.apply-extra-colors($edwincruz-light-theme, $edwincruz-color-scheme);
@include common.create-theme($edwincruz-light-theme-color-set);

a {
  color: mat.get-color-from-palette($light-theme-foreground-palette, secondary-text);
}
