å#stateInfo{
  top: 200px;
  left:300px;
  width: 240px;
  height: 280px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  overflow: hidden;
  z-index: 10;
}

bio-image {
  padding: 0;
  margin: 0;
  display: block;
  width: auto;
  height: auto;
  border-radius: inherit;
  position: relative;
}

.bio-image, .bio-image *, .bio-image :after, .bio-image :before {
  box-sizing: border-box;
}
.bio-image {
  --bio-image-border-width: 5px;
}
.bio-image-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  transform: scale(1.2) rotateZ(calc(11 * 1deg));
  transition: transform .2s ease-out;
}

bio-image, .bio-image *, .bio-image :after, .bio-image :before {
  box-sizing: border-box;
}

.bio-image-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  transform: scale(1.2)rotateZ(calc(11 * 1deg));
}



#balloon {
  height: 125px;
  width: 105px;
  opacity: .5;
  border-radius: 75% 75% 70% 70%;
  position: relative;
  background-color: rgba(255,0,0,0.7);
  color: rgba(255,0,0,0.7);
  box-shadow: inset -7px -3px 10px rgba(255-10,0-10,0-10,0.7);
  margin: 50px 0 0 50px;
  animation: float 10s ease-in infinite
}

#balloon:before {
  content: "";
  height: 75px;
  width: 1px;
  padding: 1px;
  background-color: #FDFD96;
  display: block;
  position: absolute;
  top: 125px;
  left: 0;
  right: 0;
  margin: auto;
}

#balloon:after {
  content: "▲";
  text-align: center;
  display: block;
  position: absolute;
  color: inherit;
  top: 120px;
  left: 0;
  right: 0;
  margin: auto;
}
