<section fxLayout="column" fxLayoutAlign="start center" class="bottomMargin">
  <h1 class="mat-display-1" style="margin:8px;">Blog</h1>
  <p>Thoughts of a SaSS Product Software Engineer.</p>

  <section style="justify-content:center;">

    <mat-card fxLayout="column" fxLayoutGap="32px" fxLayoutGap.gt-sm="16px"
              fxFlex.lt-md="100" fxFlex.md="80" fxFlex.lg="65" fxFlex.xl="50">
      <div [style]="'background-image: url('+ blog?.leadImage +');background-size: cover; background-position: center; height:480px;'"></div>
      <mat-card-content fxFlex="100">
        <app-markdown-viewer  [pageUrl]="url"></app-markdown-viewer>
      </mat-card-content>

    </mat-card>

  </section>

</section>


<!--
<mat-card id="stateInfo">

  <mat-card-content>
    posX: {{intentInfo?.mouseInfo?.posX}}<br/>
    posY: {{intentInfo?.mouseInfo?.posY}}<br/>
    timestamp: {{intentInfo?.mouseInfo?.timestamp}}<br/>

    posXChange: {{intentInfo?.mouseInfo?.posXChange}}<br/>
    posYChange: {{intentInfo?.mouseInfo?.posYChange}}<br/>

    scrollXChange: {{intentInfo?.scrollInfo?.scrollXChange}}<br/>
    scrollYChange: {{intentInfo?.scrollInfo?.scrollYChange}}<br/>

    scrollWidth: {{intentInfo?.scrollInfo?.scrollWidth}}<br/>
    scrollHeight: {{intentInfo?.scrollInfo?.scrollHeight}}<br/>

    timeElapsed: {{intentInfo?.mouseInfo?.timeElapsed}}<br/>

    direction: {{intentInfo?.direction}}<br/>

    alignmentX: {{intentInfo?.alignmentX}}<br/>

  </mat-card-content>
</mat-card>
  -->
<!--

<section fxLayout="column" class="content">
  <app-some-interface fxFlexAlign="start" *intentSub></app-some-interface>
  <app-some-interface fxFlexAlign="end" *intentSub></app-some-interface>
  <app-some-interface fxFlexAlign="start" *intentSub></app-some-interface>
  <app-some-interface fxFlexAlign="center" *intentSub></app-some-interface>
  <app-some-interface fxFlexAlign="end" *intentSub></app-some-interface>
  <app-some-interface fxFlexAlign="start" *intentSub></app-some-interface>
  <app-some-interface fxFlexAlign="end" *intentSub></app-some-interface>
  <app-some-interface fxFlexAlign="start" *intentSub></app-some-interface>
  <app-some-interface fxFlexAlign="center" *intentSub></app-some-interface>
  <app-some-interface fxFlexAlign="end" *intentSub></app-some-interface>
</section>
-->

<!--
<div id="ballon-container">
  <div id="balloon"></div>
</div>
-->
