<h2>The components has the following behavior:</h2>
<ul>
  <li>display info about component state on scroll</li>
  <li>display info about component state on mouse position change</li>
</ul>

<section fxLayout="column">
  <app-some-interface fxFlexAlign="start" *intentSub></app-some-interface>
  <app-some-interface fxFlexAlign="end" *intentSub></app-some-interface>
  <app-some-interface fxFlexAlign="start" *intentSub></app-some-interface>
  <app-some-interface fxFlexAlign="center" *intentSub></app-some-interface>
  <app-some-interface fxFlexAlign="end" *intentSub></app-some-interface>
  <app-some-interface fxFlexAlign="start" *intentSub></app-some-interface>
  <app-some-interface fxFlexAlign="end" *intentSub></app-some-interface>
  <app-some-interface fxFlexAlign="start" *intentSub></app-some-interface>
  <app-some-interface fxFlexAlign="center" *intentSub></app-some-interface>
  <app-some-interface fxFlexAlign="end" *intentSub></app-some-interface>
</section>

<mat-card id="mouseDetails">
  <mat-card-header>Mouse details</mat-card-header>
  <mat-card-content>
    posX: {{intentInfo?.mouseInfo?.posX}}<br/>
    posY: {{intentInfo?.mouseInfo?.posY}}<br/>
    timestamp: {{intentInfo?.mouseInfo?.timestamp}}<br/>

    posXChange: {{intentInfo?.mouseInfo?.posXChange}}<br/>
    posYChange: {{intentInfo?.mouseInfo?.posYChange}}<br/>
    timeElapsed: {{intentInfo?.mouseInfo?.timeElapsed}}<br/>
  </mat-card-content>

</mat-card>
