<section fxLayout="column" fxLayoutAlign="space-between center" class="bottomMargin">
  <h1 class="mat-display-1" style="margin:8px;">Blog</h1>
  <p>Thoughts of a SaSS Product Software Engineer.</p>
</section>



  <section fxLayout="row" fxLayoutAlign="center center" fxLayoutGap.gt-md="24px" fxLayoutGap.md="16px" fxLayoutGap.sm="12px" fxLayoutGap.xs="8px" >

    <section fxFlex.lt-md="100" fxFlex.md="70" fxFlex.lg="60" fxFlex.xl="50" fxFlex.gt-xl="50" >
      <mat-card>
        <mat-card-content><app-markdown-viewer></app-markdown-viewer></mat-card-content>
      </mat-card>
    </section>

  </section>




<!--
<mat-card id="stateInfo">

  <mat-card-content>
    posX: {{intentInfo?.mouseInfo?.posX}}<br/>
    posY: {{intentInfo?.mouseInfo?.posY}}<br/>
    timestamp: {{intentInfo?.mouseInfo?.timestamp}}<br/>

    posXChange: {{intentInfo?.mouseInfo?.posXChange}}<br/>
    posYChange: {{intentInfo?.mouseInfo?.posYChange}}<br/>

    scrollXChange: {{intentInfo?.scrollInfo?.scrollXChange}}<br/>
    scrollYChange: {{intentInfo?.scrollInfo?.scrollYChange}}<br/>

    scrollWidth: {{intentInfo?.scrollInfo?.scrollWidth}}<br/>
    scrollHeight: {{intentInfo?.scrollInfo?.scrollHeight}}<br/>

    timeElapsed: {{intentInfo?.mouseInfo?.timeElapsed}}<br/>

    direction: {{intentInfo?.direction}}<br/>

    alignmentX: {{intentInfo?.alignmentX}}<br/>

  </mat-card-content>
</mat-card>
  -->
<!--

<section fxLayout="column" class="content">
  <app-some-interface fxFlexAlign="start" *intentSub></app-some-interface>
  <app-some-interface fxFlexAlign="end" *intentSub></app-some-interface>
  <app-some-interface fxFlexAlign="start" *intentSub></app-some-interface>
  <app-some-interface fxFlexAlign="center" *intentSub></app-some-interface>
  <app-some-interface fxFlexAlign="end" *intentSub></app-some-interface>
  <app-some-interface fxFlexAlign="start" *intentSub></app-some-interface>
  <app-some-interface fxFlexAlign="end" *intentSub></app-some-interface>
  <app-some-interface fxFlexAlign="start" *intentSub></app-some-interface>
  <app-some-interface fxFlexAlign="center" *intentSub></app-some-interface>
  <app-some-interface fxFlexAlign="end" *intentSub></app-some-interface>
</section>
-->

<!--
<div id="ballon-container">
  <div id="balloon"></div>
</div>
-->
