 <section fxLayout="column" fxLayoutAlign="space-between center" >
   <h1 class="mat-display-1" style="margin:8px;">Edwin M. Cruz</h1>
   <p>Lead Software Engineer delivering cloud solutions using Java and Typescript.</p>
  </section>



  <section fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap.gt-md="24px" fxLayoutGap.md="16px"
           fxLayoutGap.sm="12px" fxLayoutGap.xs="8px">
    <section fxFlex="100" fxFlex.gt-lg="50" fxFlex.lg="50" fxFlex.md="64" fxFlexOrder="1" fxFlexOrder.gt-sm="2"
             fxLayout="column">
      <app-post-list></app-post-list>
    </section>
    <section fxFlex.gt-lg="23" fxFlex.lg="23" fxFlex.md="32" fxFlex.sm="49" fxFlex.xs="100" fxFlexOrder="2"
             fxFlexOrder.gt-sm="1" fxLayout="column">
      <app-profile-summary></app-profile-summary>
      <app-status></app-status>
      <app-stack-details></app-stack-details>
      <app-web-resources></app-web-resources>

      <app-recommendation class="recommendation-card" fxHide="true" fxShow.md="true"></app-recommendation>
    </section>
    <section fxFlex.gt-md="23" fxFlex.md="32" fxFlex.sm="49" fxFlex.xs="100" fxFlexOrder="3" fxLayout="column">
      <app-recommendation class="recommendation-card" fxHide.md="true"></app-recommendation>
    </section>
  </section>
