<mat-toolbar style="max-width:1920px; margin: auto;">
  <span>( edwin : cruz ) -> nyc</span>
  <span class="spacer"></span>
  <ng-container *ngFor="let item of menuItems">
    <a fxHide.lt-lg href="{{item.href}}" mat-button target="{{item.target}}">
      <fa-icon [icon]="item.iconProp" style="font-size:x-large"></fa-icon>
      {{item.label}}
    </a>
    <a fxHide fxShow.md fxShow.sm href="{{item.href}}" mat-icon-button target="{{item.target}}">
      <fa-icon [icon]="item.iconProp" style="font-size:x-large"></fa-icon>
    </a>
  </ng-container>
  <button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <mat-slide-toggle (click)="toggleThemeMode()" [checked]="isDarkMode"></mat-slide-toggle>
</mat-toolbar>

<mat-menu #dropMenu="matMenu">
  <ng-container *ngFor="let item of menuItems">
    <a href="{{item.href}}" mat-menu-item target="{{item.target}}">
      <fa-icon [icon]="item.iconProp" style="font-size:large; padding-right: 8px;"></fa-icon>
      <span>{{item.label}}</span>
    </a>
  </ng-container>
</mat-menu>
