<section fxLayout="column" fxLayoutAlign="start center" >
  <h1 class="mat-display-1" style="margin:8px;">Resume</h1>
  <p  class="bottomMargin"><a href="/docs/resume/resume-edwin-cruz-updated-2022-0228.pdf" mat-icon target="_resume" style="text-decoration:none">
    <mat-icon >file</mat-icon>Download </a></p>

  <section style="justify-content:center;">

    <mat-card fxLayout.xs="column" fxLayout="row" fxLayoutGap="32px" fxLayoutGap.gt-sm="16px"
              fxFlex.lt-md="100" fxFlex.md="80" fxFlex.lg="65" fxFlex.xl="50">

      <mat-card-content fxFlex="100">
        <section [innerHTML]="parsedMarkdown"></section>

      </mat-card-content>

    </mat-card>

  </section>

</section>
