<section fxLayout="column" fxLayoutAlign="space-between center" class="bottomMargin">
  <h1 class="mat-display-1" style="margin:8px;">Resume</h1>
  <p><a href="/assets/docs/resume/edwin-m-cruz.pdf" mat-icon-button target="_resume" style="text-decoration:none">
    <fa-icon [icon]="['fas', 'download']" style="font-size:large"></fa-icon>
    Download
  </a></p>
</section>


<section fxLayout="column" fxLayoutAlign="start center">
  <mat-card style="display:block;max-width:800px;">
    <mat-card-content>
      <app-markdown-viewer></app-markdown-viewer>
    </mat-card-content>
  </mat-card>
</section>
