<mat-card
  (mouseenter)="toggle()"
  (mouseleave)="toggle()"

>
  <h2>Who am I?</h2>

  <ul *ngIf="viewable" [@myInsertRemoveTrigger] class="mat-caption viewable">
    <li>Expert on Spring, Hibernate, Ehcache, and Angular frameworks</li>
    <li>An Agile practitioner with many years of experience using Jira, TTD, and BDD</li>
    <li>Team leader and contributor who believes collaboration, sharing ideas, and mentoring lead to better team
      culture and software
    </li>
    <li>Team-player who can also work independently and enjoys all hands-on/hands-off duties of the software
      development process
    </li>
    <li>Motivated to drive the use of best practices, methodologies and processes that improve the team and software
      that include CI/CD, and pair programming
    </li>
  </ul>

</mat-card>
