@use '@angular/material' as mat;
@use './styles/typography' as typography;

$typography: typography.$edwincruz-typography-lt-md;
@include mat.core($typography);
@include mat.typography-hierarchy($typography, "body");

@media (min-width: 960px) and (max-width: 1280px - 1) {
  $typography: typography.$edwincruz-typography-md;
  @include mat.all-component-typographies($typography);
  @include mat.typography-hierarchy($typography, "body");
}

@media (min-width: 1280px) {
  $typography: typography.$edwincruz-typography-gt-md;
  @include mat.all-component-typographies($typography);
  @include mat.typography-hierarchy($typography, "body");
}

/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  max-width: 1920px;
  margin: auto;
}

mat-card {
  border-radius: 16px !important;
}
