<mat-card>
  <h2>My Toolset: Technologies, Frameworks, APis..</h2>

  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let category of toolset">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{category.category}}
          </mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <mat-panel-description>
          <mat-list>
            <mat-list-item *ngFor="let item of category.items">
              {{item.name}}
            </mat-list-item>
          </mat-list>
        </mat-panel-description>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
